html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

body {
  background: url(./img/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.359);
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.359);
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

.form {
  padding: 10px 30px;
  width: 200px;
  height: 400px;
  right: 0;
  top: 60px;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.359);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 21;
  border-radius: 0 0 10px 10px;
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.form input {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 10px;
  box-sizing: border-box;
}

.form input::placeholder {
  color: #fff;
  font-weight: 600;
}

.form input:focus {
  outline: none;
}

.form .btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.btn:active {
  transform: scale(0.95);
}

.btn.disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
  pointer-events: none;
}

.form .sign-up {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sign-up p {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0;
}

.password-error {
  color: #fff;
  font-size: 12px;
  height: 25px;
  background-color: rgba(255, 0, 0, 0.25);
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  margin: 0;
}

.password-match {
  color: #fff;
  font-size: 12px;
  height: 25px;
  width: 81%;
  background-color: rgba(38, 255, 0, 0.25);
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
  margin: 0;
  visibility: hidden;
  position: fixed;
}

.password-error.active {
  transform: scaleY(1);
}

.password-match.active {
  transform: scaleY(1);
  visibility: visible;
}

.password-match.default {
  visibility: hidden;
  transform: scaleY(0);
}

.navbar .nav {
  position: fixed;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.359);
  backdrop-filter: blur(10px);
  color: #fff;
  list-style: none;
  padding: 0 20px;
  margin: 0;
  z-index: 21;
}

.nav-item .nav-link {
  font-size: larger;
  font-weight: 700;
}

.welcome-text {
  font-size: 24px;
}

.nav-item .logout {
  width: 100%;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin: 10px 0;
  transition: all 0.3s ease-in-out;
}

.nav-item .logout:hover {
  background-color: #fff;
  color: #333;
}

.cards-container.grid {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  list-style: none;
  padding: 20px 20px;
  margin: 10px 0;
  z-index: 1;
}

.cards-container.list {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: #fff;
  list-style: none;
  padding: 20px 20px;
  margin: 10px 0;
  z-index: 1;
}

.cards-container.list .card {
  width: 500px;
}

.cards-container .card {
  background-color: rgba(3, 3, 3, 0.25);
  backdrop-filter: blur(4px);
  margin: 20px;
  width: 90%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.cards-container.grid .card.hidden {
  overflow: hidden;
  height: 415px;
}

.cards-container.list .card.hidden {
  overflow: hidden;
  height: 415px;
}

.card .name {
  font-size: 20px;
  margin-bottom: 20px;
  height: 30px;
  padding: 10px;
}

.card .description {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: 128px;
  overflow: hidden;
  text-align: justify;
}

.card .year {
  margin-bottom: 0;
}

.reviews {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  color: #fff;
  padding: 0 10px;
  margin: 0;
}

.reviews .review {
  box-sizing: border-box;
  background-color: rgba(3, 3, 3, 0.25);
  backdrop-filter: blur(4px);
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 5px auto;
}

.review-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
  color: #fff;
  padding: 0 10px;
  margin: 0;
}

.review-form .review-input {
  width: 90%;
  background-color: transparent;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 2px 0 10px 0;
  padding: 10px 10px;
}

.reviews-formform .review-input::placeholder {
  color: #fff;
  font-weight: 600;
}

.review-form .review-input:focus {
  outline: none;
}

.review-form .btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin: 0 0 10px 0;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #fff;
  color: #333;
}

.btn:active {
  transform: scale(0.95);
}

.btn.disabled {
  background-color: #ccc;
  color: #333;
  cursor: not-allowed;
  pointer-events: none;
}

.rating {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #fff;
  padding: 0 10px;
  margin: 0;
}

.rating .like-icon {
  margin: 0 5px;
  cursor: pointer;
}

.rating .dislike-icon {
  margin: 0 5px;
  cursor: pointer;
}

.toggler {
  width: fit-content;
  position: sticky;
  transform: translate(70px, 70px);
  color: #fff;
  z-index: 20;
  cursor: pointer;
}

.hidden-content {
  width: fit-content;
  position: sticky;
  transform: translate(110px, 37px);
  color: #fff;
  z-index: 20;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .cards-container.grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .cards-container.list .card {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .cards-container.grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .cards-container.list .card {
    width: 90%;
  }

  .nav-item .nav-link {
    font-size: 16px;
    font-weight: 700;
  }

  .welcome-text {
    font-size: 20px;
  }

  .nav-item .logout {
    width: 80px;
    height: 30px;
  }
}

@media screen and (max-width: 660px) {
  .cards-container.grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .cards-container.list .card {
    width: 90%;
  }

  .form {
    width: 84%;
  }
}